<div class="v-box full" style="background-color: var(--background-primary); align-items: center">
  <h1 class="flex-center-center v-box" style="margin-top: 20px">Event Feed</h1>

  <div class="v-box flex-center-start" style="margin: 30px 20px 120px 20px; overflow-y: scroll; overflow-x: hidden">
    <div *ngFor="let event of eventFeed.events$| async" class="event h-box flex-center-start" [ngClass]="event.eventType">
      <div [ngSwitch]="event.eventType" class="inner-event" style="margin-left:10px">
        <ng-container *ngSwitchCase="'sipped'" [ngTemplateOutlet]="sipped" [ngTemplateOutletContext]="{ctx: event}" >
        </ng-container>
        <ng-container *ngSwitchCase="'poured'" [ngTemplateOutlet]="poured" [ngTemplateOutletContext]="{ctx: event}">
        </ng-container>
        <ng-container *ngSwitchCase="'filled'" [ngTemplateOutlet]="filled" [ngTemplateOutletContext]="{ctx: event}">
        </ng-container>
        <ng-container *ngSwitchCase="'e'" [ngTemplateOutlet]="e" [ngTemplateOutletContext]="{ctx: event}">
        </ng-container>
        <ng-container *ngSwitchCase="'f'" [ngTemplateOutlet]="f" [ngTemplateOutletContext]="{ctx: event}">
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #sipped let-con="ctx">
  <p>Sip occurred! <br> you drank {{con.data.volumeSipped}} ml</p>
</ng-template>

<ng-template #poured let-con="ctx">
  <p>Pour out has occured! <br>{{con.data.volumePoured}} ml has been spilled - new volume {{con.data.currentVolume}} ml</p>
</ng-template>

<ng-template #filled let-con="ctx">
  <p>Cup has been filled! <br> The volume has been increased by {{con.data.volumeFilled}} ml</p>
</ng-template>

<ng-template #e let-con="ctx">
  <p>Cup Refill! new volume 500 ml</p>
</ng-template>

<ng-template #f let-con="ctx">
  <p>Cup pour out! new volume 100 ml</p>
</ng-template>
