<div class="h-box nav-bar">
  <div class="nav-button" [class.nav-button-pressed]="indexPressed === NavTo.Home" (click)="navigateTo(NavTo.Home)">
    <fa-icon [icon]="icon.Coffee"></fa-icon>
  </div>
  <div class="nav-button" [class.nav-button-pressed]="indexPressed === NavTo.Graph" (click)="navigateTo(NavTo.Graph)">
    <fa-icon [icon]="icon.Chart"></fa-icon>
  </div>
  <div class="nav-button" [class.nav-button-pressed]="indexPressed === NavTo.Settings" (click)="navigateTo(NavTo.Settings)">
    <fa-icon [icon]="icon.Settings"></fa-icon>
  </div>
  <div class="nav-button" [class.nav-button-pressed]="indexPressed === NavTo.EventFeed" (click)="navigateTo(NavTo.EventFeed)">
    <fa-icon [icon]="icon.History"></fa-icon>
  </div>
  <div class="nav-button" [class.nav-button-pressed]="indexPressed === NavTo.MetricFeed" (click)="navigateTo(NavTo.MetricFeed)">
    <fa-icon [icon]="icon.BalanceWeight"></fa-icon>
  </div>
</div>
