<div class="v-box full" style="background-color: var(--background-primary)">
  <h1 class="flex-center-center v-box" style="margin-top: 20px">Settings</h1>

  <ion-list style="background-color: transparent; margin-top: 90px">
    <div align="center">
      <ion-title> Current Interval:</ion-title>
      <ion-title [textContent]="intervalString"></ion-title>
      <ion-item style="width: 75%;background-color: transparent" color="transparent" lines="none">
        <ion-text slot="start">0.5</ion-text>
        <ion-text slot="end"> 10</ion-text>
        <ion-range min="0.5" max="10" step="0.5" snaps="true" debounce="1000" value="{{interval}}"
                   style="padding: 10px" (ionChange)="OnIonChange($event)"></ion-range>
      </ion-item>
    </div>
  </ion-list>
</div>
