/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  width: 100%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;


  --theme-color-1: #EFC3A4;
  --theme-color-2: #4B1f0e;
  /*--theme-color-3: #be7656;*/
  --theme-color-3: #975031;
  --theme-color-4: #794028;
  --theme-color-5: #0e0504;
  --text-color: #FFFFFF;

  --primary-color: var(--theme-color-4);
  --background: var(--theme-color-1);
  --ion-item-background: var(--theme-color-1);
  --background-primary: var(--theme-color-4);

}

:root {
  --ion-color-wuup: #794028;
  --ion-color-wuup-rgb: 121,64,40;
  --ion-color-wuup-contrast: #ffffff;
  --ion-color-wuup-contrast-rgb: 255,255,255;
  --ion-color-wuup-shade: #6a3823;
  --ion-color-wuup-tint: #86533e;
}

.ion-color-wuup {
  --ion-color-base: var(--ion-color-wuup);
  --ion-color-base-rgb: var(--ion-color-wuup-rgb);
  --ion-color-contrast: var(--ion-color-wuup-contrast);
  --ion-color-contrast-rgb: var(--ion-color-wuup-contrast-rgb);
  --ion-color-shade: var(--ion-color-wuup-shade);
  --ion-color-tint: var(--ion-color-wuup-tint);
}

h1, h2, h3, h4, h5, h6, p, span, ion-label, ion-text, ion-title {
  color: var(--text-color);
}

ion-content {
  background-color: var(--background-primary) !important;
}

.h-box {
  display: flex;
  flex-direction: row;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.flex-center-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-center-center {
  justify-content: center;
  align-items: center;
}

.full {
  height: 100%;
  Width: 100%;
}

.span-1 {
  flex: 1;
}

.span-2 {
  flex: 2;
}

.span-3 {
  flex: 3;
}
.span-4 {
  flex: 4;
}
