/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  width: 100%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0;

  --primary-color: #bf0d0d;
  --background-primary: #bf0d0d;
  --text-color: #ffffff;
  --theme-color-1: #D9D7D7;
  --theme-color-2: #A6652D;
  --theme-color-3: #A65A2E;
  --theme-color-4: #593F2F;
  --theme-color-5: #260101;
}

h1, h2, h3, h4, h5, h6, p, span, ion-label {
  color: var(--text-color);
}

ion-content {
  background-color: var(--background-primary)
}

.h-box {
  display: flex;
  flex-direction: row;
}

.v-box {
  display: flex;
  flex-direction: column;
}

.flex-center-start {
  justify-content: flex-start;
}

.flex-center-center {
  justify-content: center;
  align-items: center;
}

.full {
  height: 100%;
  Width: 100%;
}

.span-1 {
  flex: 1;
}

.span-2 {
  flex: 2;
}

.span-3 {
  flex: 3;
}
.span-4 {
  flex: 4;
}
