.parent-box {
  margin-top: 20px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.parent-content-box {
  padding: 5px;
  background-color: var(--background);
  min-width: 150px;
  border-radius: 10px;
  margin: 7px;
}


.box-content {
  padding-left: 2px;
  padding-right: 2px;
}

.parent-content-box p{
  color: var(--theme-color-5);
}

.box-content h2{
  color: var(--theme-color-5);
}

.header-box h4{
  color: var(--theme-color-5)
}
